@model IEnumerable<MVCMonitoring.Models.MonitoringStation>
@{
    ViewData["Title"] = "List";
}
<h2 class="fw-bold mb-4">Existing Stations</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Location</th>
                <th scope="col">Flood Level</th>
                <th scope="col">Drought Level</th>
                <th scope="col">Timeout</th>
                <th scope="col">Date & Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var station in Model)
            {
                if (station.Measurements != null && station.Measurements.Any())
                {
                    foreach (var measurement in station.Measurements)
                    {
                        <tr>
                            <td>@station.Id</td>
                            <td>@station.Title</td>
                            <td>@station.Location</td>
                            <td>@measurement.FloodLevel</td>
                            <td>@measurement.DroughtLevel</td>
                            <td>@measurement.TimeOutInMinutes</td>
                            <td>@measurement.DateTime</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>@station.Id</td>
                        <td>@station.Title</td>
                        <td>@station.Location</td>
                        <td colspan="4">No measurements available</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
