@model IEnumerable<MVCMonitoring.Models.MonitoringStation>
@{
    ViewData["Title"] = "List Of Operating Stations";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/List.css" asp-append-version="true" />
</head>
<body>
    <div class="container py-5">
        <div class="container py-5">
            <div class="jumbotron text-center">
                <h1 class="display-4">Water Level Monitoring System</h1>
                <p class="lead">Ensuring Safety and Efficiency in Water Management. <br />Our system is engineered to respond promptly to fluctuations in water levels</p>
                <hr class="my-4">
                <p>
                    <strong style="color:red;">Red measurement button:</strong> The water level surpassed the predefined drought or flood level.<br />
                    <strong style="color:red;">Red Timeout Indicator:</strong> The most recent measurement surpassed the established timeout threshold.
                </p>
            </div>
        </div>

        @foreach (var station in Model)
        {
            var lastMeasurementInWarningZone = false;
            var timeoutExceeded = false;
            var currentTime = DateTime.Now;

            if (station.Measurements != null && station.Measurements.Any())
            {
                var lastMeasurement = station.Measurements.Last();

                if (lastMeasurement.WaterLevel < station.DroughtLevel || lastMeasurement.WaterLevel > station.FloodLevel)
                {
                    lastMeasurementInWarningZone = true;
                }

                if ((currentTime - lastMeasurement.DateTime).TotalMinutes > station.TimeOutInMinutes)
                {
                    timeoutExceeded = true;
                }
            }
            <div class="station">
                <div class="row mb-3">
                    <div class="col-sm text">
                        <strong>Id:</strong> @station.Id
                    </div>
                    <div class="col-sm text" data-toggle="tooltip" title="@station.Title">
                        <strong>Title:</strong> @station.Title
                    </div>
                    <div class="col-sm text" data-toggle="tooltip" title="@station.Location">
                        <strong>Location:</strong> @station.Location
                    </div>
                    <div class="col-sm text" data-toggle="tooltip" title="@station.FloodLevel">
                        <strong>Flood Level:</strong> @station.FloodLevel
                    </div>
                    <div class="col-sm text" data-toggle="tooltip" title="@station.DroughtLevel">
                        <strong>Drought Level:</strong> @station.DroughtLevel
                    </div>
                    <div class="col-sm text" data-toggle="tooltip" title="@station.TimeOutInMinutes">
                        <strong>Timeout:</strong>
                        @if (timeoutExceeded)
                        {
                            <span style="color: red;">@station.TimeOutInMinutes mins</span>
                        }
                        else
                        {
                            <span>@station.TimeOutInMinutes mins</span>
                        }
                    </div>
                    <div class="col-sm-2">
                        @if (lastMeasurementInWarningZone)
                        {
                            <button class="btn btn-sm btn-danger btn-measurements" onclick="toggleMeasurements('@station.Id')">Measurements</button>
                        }
                        else
                        {
                            <button class="btn btn-sm btn-secondary btn-measurements" onclick="toggleMeasurements('@station.Id')">Measurements</button>
                        }
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div id="measurements-@station.Id" class="measurements" style="display: none;">
                            @if (station.Measurements != null && station.Measurements.Count > 0)
                            {
                                <ul class="list-group">
                                    @foreach (var m in station.Measurements.OrderByDescending(m => m.DateTime).Take(10))
                                    {
                                        <li class="list-group-item">
                                            <div>
                                                <strong>Id:</strong> <span>@m.Id</span>
                                            </div>
                                            <div>
                                                <strong>Water Level:</strong> <span>@m.WaterLevel</span>
                                            </div>
                                            <div>
                                                <strong>Date & Time:</strong> <span>@m.DateTime</span>
                                            </div>
                                            @if (m.WaterLevel < station.DroughtLevel)
                                            {
                                                <div style="margin-left: 20px; margin-top: 10px"><span class="text-danger"><strong>Drought Warning:</strong> Water level is below drought level! ↓</span></div>
                                            }
                                            else if (m.WaterLevel > station.FloodLevel)
                                            {
                                                <div style="margin-left: 20px; margin-top: 10px"><span class="text-danger"><strong>Flood Warning:</strong> Water level is above flood level! ↑</span></div>
                                            }
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <span>No measurements available</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/js/List.js" asp-append-version="true"></script>
</body>
</html>